/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

/* Root Variable Declaration */
:root {
  --orange: #a08437;
  --dark: #222222;
  --light: #e0e0e0;
  --darkerlight: #919191;
  --red: #ff1504;
  --golden: #c59d5f;
  --goldenlight: #e6b771;
  --border-radius: 8px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background: url("assets/pexels-fariphotography-905847.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  display: grid;
}

/* Navbar Styling */
header {
  background: var(--green);
  border-bottom: 2px solid var(--orange);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-btn,
.view-menu {
  margin-left: var(--spacing-lg);
  margin-right: var(--spacing-lg);
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--dark);
  font-weight: 600;
  font-size: medium;
  padding-bottom: 5px; /* Add space to account for hover effect */
  transition: transform 0.2s, border-bottom 0.2s, padding-bottom 0.2s;
  position: relative;
}

.nav-btn:hover {
  position: relative;
  border-bottom: 2px solid var(--orange);
  transform: scale(1.1); /* Scale instead of changing font-size */
  padding-bottom: 0; /* Adjust padding to prevent movement */
}

/* Home Styling */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-xl);
  height: 75vh;
  text-align: center;
}

.greeting {
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 300;
  font-size: 300%;
  color: var(--golden);
  margin-top: 200px;
}

.main-headline {
  margin-top: -30px;
  color: var(--light);
}

.main-divider {
  width: 200px;
  height: 5px;
  background-color: var(--golden);
  margin-bottom: var(--spacing-md);
}

.description {
  color: var(--light);
  font-weight: 400;
  font-size: medium;
}

.view-menu {
  margin-top: var(--spacing-lg);
  background-color: var(--golden);
  padding: 5px;
  border-radius: 2px;
  transition: 0.2s;
}

.view-menu:hover {
  background-color: var(--goldenlight);
}

/* Menu Styling */
.dish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light);
}

.small-divider {
  width: 200px;
  height: 2px;
  background-color: var(--golden);
  margin-bottom: var(--spacing-md);
  margin: 10px;
}

/* About Styling */
.about-text {
  color: var(--light);
  font-weight: 400;
  width: 65%;
}

.opening-hours,
.contact {
  color: var(--light);
  padding: 5px;
}
/* Footer Styling */

.footer {
  border-top: 2px solid var(--orange);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  z-index: 100;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
